
.navbar-dark {
	background-color: #512DA8;
}

.row-header {
	margin: 0 auto;
	padding: 0 auto;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.row h2 {
	font-size: 1.7em;
}

.row-content h3 {
	font-size: 1.5em;
}

.footer {
	background-color: #D1C4E9;
	margin: 0 auto;
	padding: 20px 0;
}

.jumbotron {
	padding: 70px 30px;
	margin: 0 auto;
	background-color: #9575CD;
	color: floralwhite;
	border-radius: 0;
}

address {
	font-size: 80%;
	margin: 0;
	color: #0f0f0f;
}

legend {
	font-size: 1.3rem;
    font-weight: 600;
}

.form-check label {
	font-weight: 500;
}

.tab-content {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 10px;
}

a {
	cursor: pointer;
}

.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}